.model {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px 20px;
}

.action {
  display: flex;
  justify-content: center;
  gap: 10px;
}
